.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 50px;
  color: white;
  font-size: 18px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.astro {
  position: absolute;
  width: 250;
  height: auto;
  zindex: -1;
  bottom: 0px;
  right: 0px;
}

.square {
  border: 10px solid #00b0ff;
  width: 260px;
  height: 260px;
  position: absolute;
}

.stimuli {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
}

.shortSlider {
  width: 550px;
  margin: 0 auto;
}

.selected {
  border: 10px solid #ffffff;
  width: 100px;
  height: auto;
}

.nonselected {
  border: none;
  width: 100px;
  height: auto;
}

.spaceship {
  /* The image used */
  background-image: url(../images/cockpit.png);

  min-height: 100%;
  min-width: 1024px;

  /* Full height */
  height: auto;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  /* background-attachment: fixed; */
}

Button.clc {
  border-color: #ffffff;
}

span.center {
  display: table;
  margin: 0 auto;
  font-size: 25px;
}

span.centerTwo {
  display: table;
  margin: 0 auto;
}

span.alignleft {
  float: left;
  width: 33.33333%;
  text-align: left;
  font-size: 14px;
}
span.aligncenter {
  float: left;
  width: 33.33333%;
  text-align: center;
  font-size: 14px;
}
span.alignright {
  float: left;
  width: 33.33333%;
  text-align: right;
  font-size: 14px;
}

span.square {
  border: 10px solid #00b0ff;
  width: 160px;
  height: 160px;
  position: absolute;
}

Button.clc {
  border-color: #ffffff;
}

Button:disabled {
  background-color: #2e4c80;
  color: #5a7fbf;
}

Button:focus,
Button:active {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
