.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 50px;
}

.stimuli {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.shortSlider {
  width: 550px;
  margin: 0 auto;
}

span.center {
  display: table;
  margin: 0 auto;
}

Button:focus,
Button:active {
  outline: none !important;
  box-shadow: none !important;
}
